<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

  <title>###FEED_TITLE###</title>
  <updated>###FEED_UPDATED###</updated>
  <generator>###FEED_GENERATOR###</generator>
  <author>
  	<name>###FEED_AUTHOR_NAME###</name>
	<email>###FEED_AUTHOR_EMAIL###</email>
  </author>
  <id>###FEED_ID###</id>

  <!-- ###ENTRIES### begin -->
  <!-- ###ENTRY### begin -->
  <entry>
    <title type="html">###ENTRY_TITLE###</title>
    <link rel="alternate" href="###ENTRY_URI###"/>
    <id>###ENTRY_ID###</id>
	 <published>###ENTRY_PUBLISHED###</published>
    <updated>###ENTRY_UPDATED###</updated>
  </entry>
  <!-- ###ENTRY### end -->
  <!-- ###ENTRIES### end -->

</feed>
